body{background-color: #affdd6;
}

header ul {border:1px dashed black
    list-style: none;
    margin-top:25px;
   
    font-size: 20px;
    text-align:center;
    margin-bottom:30px;}
    header li {display: inline;
      border-radius: 8px;
    border: px solid gold;
    background-color:affdd6;
    ;
    margin-right: 120px;
    font-family: "Outfit", sans-serif;
    width:70%;
    }
    header a {text-decoration: none;
    color:rgb(0, 0, 0);
    }
    .autre:hover{text-decoration: underline;
    background-color: rgb(190, 146, 128);
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 8px;
    box-shadow: 5px 3px 15px 10px rgb(163, 147, 179);}
    


.services{ background-color: rgb(190, 146, 128);
    padding: 15px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 8px;}